@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: #00D8FF;
}
.titulo{
    color: black;
    transition: border-bottom 0.1s ease;
    border-bottom: 3px solid;
    border-color: white;
    letter-spacing: 0.2rem;
}

.titulo:hover{
    border-color: rgb(0, 0, 0);
}


.logo {
    will-change: filter;
    transition: filter 300ms;
    animation: logo-spin 10s infinite ease-in-out;
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}
